@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');


* {
	box-sizing: border-box;
	transition: all ease-in-out 200ms;
}


body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

img {
	max-width:100%;
	height: auto;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear:both;
}

/* Columns */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

.col-1 {
	width: 50%;
	float: left;
	text-align: center;
}

.col-3 {
	width: 100%;
	float: left;
	text-align: center;
}



@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		width: 25%;
	}

	.col-services {
		margin-top: 1em;
		width: 33.333334%;
		float: left;
	}
}

/* Typography */

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type {
	margin-bottom: 0;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}

.title span {
	font-weight: 300;
	display: block;
	font-size: .9em;
}

.title-cta {
	margin: 0 0 .5em
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width: 60rem) {

	p {
		font-size: 1.2rem;
		line-height: 1.6;
	}

	.title {
		font-size: 3.7rem;
	}
}

/* Font Awesome Icons */

.fa {
	padding: .5em;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

@media (max-width: 768px){
	.button-dark {
		width:30%;
		font-size:14px;
	}
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
}

.button-accent {
	color:#ffe600;
	border-color: #ffe600;
}

.button-accent:hover,
.button-accent:focus
{
	background:#ffe600;
	color:#232323;
}

.button-dark {
	color:#232323;
	border-color: #232323;
}

.button-dark:hover,
.button-dark:focus
{
	background:#232323;
	color:#ffe600;
}

/* Parallax */

.parallax--bg,
.parallax--box {
	transition: initial;
}



/* Header */

header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display:inline-block;
	margin: 1em .1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color:#fff;
}

nav a:hover,
nav a:focus {
	color:#ffe600;
}

@media (min-width: 60rem) {
	.logo {
		float:left;
	}

	nav {
		float:right;
	}

	nav li {
		display:inline-block;
		margin: 1em;
	}


}

/* Home-Hero */

.home-hero {
	background-image: url(../img/home_hero_bg_darker.jpg);
	background-size: cover;
	background-position: center;
	padding:10em 0;
	color: #fff;
}

@media (min-width: 60rem) {
	.home-hero {
		height: 100vh;
		padding-top: 35vh;
	}

}

/* Hero-Home */

.home-about-textbox {
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid #ffe600;
	outline-offset: -2.5em;
	color: #fff;
	position: relative;
}

.home-about-textbox h1 {
	color: #ffe600;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .3em;
	background: #232323;
	padding: 0 .145em;

}

.home-about {
	padding-bottom: 5em;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}

	.home-about-textbox h1 {
		top: .6rem;
		padding: 0 .325em;
	}

}

@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.home-about {
		background-image: url(../img/who-we-are-lily-cole.jpg);
		background-repeat: no-repeat;
		padding-bottom: 10em;
	}

	.home-about-textbox {
		width: 50%;
		padding: 7em;
		outline-offset: -3.75em;
		margin-left: -2.5%;
		top: -5em;
		text-align: left;
		box-shadow: 0 0 4em 0 rgba(0,0,0 .3);
	}

	.home-about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}

}

/* Portfolio */

.portfolio {
	margin: 3em 0 0;
}

.port-item {
	margin: 0;
	position: relative;
}

.port-item img {
	display: block;
}

.port-description {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0, .6);
	padding-bottom: 1em;
	
}

.port-description p {
	margin: 1em;
}

@media (min-width: 37rem) {
	.port-item {
		width: 50%;
		float:left;

	}
}

@media (min-width: 60rem) {

	.portfolio {
		margin: 5em 0 0;
	}

	.port-item {
		width: 33.3333334%;
		overflow: hidden;
	}

	.port-description {
		transform: translateY(150%);
	}

	.port-item:hover .port-description {
		transform: translateY(0%);
	}
}

/* CTA */

.cta {
	background-color: #ffe600;
	padding: 5em 0;
}

/* Contact Form */

input[type=text], textarea{
	margin: .5em;
	padding: 1em;
	width: 50%;
	border: none;
}

@media(max-width: 768px){
	input[type=text], textarea{
		margin: .3em;
		padding: 1em;
		width: 80%;
		border: none;
	}
	textarea{
		height:8em;
	}
}

/* Footer */

footer {
	background: #232323;
	color: #fff;
	text-align: left;
	padding: 5em 0;
}